@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --main-font-color-white: #fff;
    --secondary-font-color: #DDDDDD;
}

html {
    font-family: var(--main-font) !important;
    font-size: 10px;
    color: var(--main-font-color);
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
}

.container {
    max-width: 1070px !important;
}
a {
    text-decoration: none !important;
}
button {
    border: none;
}

.triangle-down {
    position: relative;
    padding-right: 16px;
}
.triangle-down::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 0;
    width: 12px;
    height: 12px;
    background:url('images/triangle-down-icon.svg') center no-repeat; 
}
/* Header starts*/

header {
    background-color: #0E0E0E;
    padding: 1rem 0 .6rem;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background: #C31D28;
    border-radius: 3px;
    color: var(--main-font-color-white) !important;
}

.header-block__btn {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 5px 28px 5px 32px;
    position: relative;
}
.header-block__btn::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
    background:url('images/map-icon.svg') center no-repeat; 
}
.header-block__btn::after {
    content: '';
    position: absolute;
    top: 11px;
    right: 8px;
    width: 12px;
    height: 12px;
    background:url('images/triangle-down-icon.svg') center no-repeat; 
}

.header-block__nav {
    display: flex;
    align-items: center;
    list-style: none;
}
.header-block__nav li {
    margin-top: 1.1rem;
}
.header-block__nav:first-child li {
    margin-right: 2.4rem;
}
.header-block-first-nav li {
    margin-right: 2.4rem;
}
.header-block-first-nav li:last-child {
    margin-right: 0;
}

.header-block .header-block__nav:last-child li {
    margin-right: 4rem;
}

.header-block .header-block__nav:last-child li:last-child {
    margin-right: 0;
}

.header-block__link {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: var(--main-font-color-white);
    position: relative;
    transition: color .3s;
}

.header-block-first-nav .header-block__link::before {    
    content: '';
    position: absolute;
    bottom: -2.1rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FF5656;
    transform: scaleX(0);
    transition: transform .3s;
}
.header-block__link:hover {
    color:#fff;
}
.header-block-first-nav .header-block__link:hover {
    color: #FF5656;
}

.header-block-first-nav .header-block__link:hover::before {
    transform: scaleX(1);
}


/* Dropdown section starts*/

.schedule {
    display: none;
}

.schedule-block {
    margin-right: 125px;
}
.schedule-block:last-child {
    margin-right: 0;
}

.schedule-info {
    display: flex;
}

.block-info {
    color: #fff;
}

.block-info ul {
    list-style: none;
    height: 100%;
    position: relative;
}
.block-info ul li {
    margin-bottom: 8px;
}
.block__info ul li:last-child {
    margin-bottom: 0;
}

.block-info__list_bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.block-info__link_active {
    font-weight: bold;
    line-height: 2.2rem;
}

.block-info__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

/* Dropdown section ends */

/* Header ends */



/* Banner-slider */

.banner-slider-block {
    position: relative;
}

.position-top {
    position: absolute;
    top: 13.6rem ;
}
.img-fluid {
    width: 100% !important;
}
.banner-slider-block .banner-btn .prev {
    left: 3.2rem;
}
.banner-slider-block .banner-btn .next {
    right: 3.2rem;
}

/* Banner-slider ends */

/* Films about */

.films-about {
    background-color: black;
    padding: 72px 0;
}

/* Films about ends */

/* Heading style */

.heading__link {
    font-size: 13px;
    line-height: 22px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-right: 24px;
}
.heading__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 19px;
    background:url('images/right-line.svg') center no-repeat;
}

.heading__link:hover {
    color: #fff;
}

/* Heading style ends */
.films-btn .prev,
.films-btn .next {
    position: absolute;
    top: 90px;
}

.films-btn .prev {
    left: -4.2rem;
}

.films-btn .next {
    right: -4.2rem;
}

/* Films row ends */


/* Heading */

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.heading__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    /* line-height: 49px; */
    color: #fff;
}

.heading__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    /* text-align: right; */
    color: #FFFFFF;
}

/* Heading ends */

/* Hot price */

.hot-price-section {
    background-color: #202020;
    position: relative;
    padding: 32px 0;
}

.hot-price-heading .heading__title {
    color: #FFD362;
}

.films {
    position: relative;
}

.film-row {
    display: flex;
    justify-content: space-between;
}

.film-about {
    width: 16.4rem ;
    /* flex: 1; */
    /* max-width: 164px; */
}

.film-about__wrapper {
    position: relative;
    width: 16.4rem;
    margin: 0 auto;
}

.film-about__img {
    /* width: 16.4rem;/ */
    position: relative;
    margin-bottom: 16px;
}

.film-about__img .film-img {
    width: 100%;
    border-radius: 3px;
}

.film-about .hot-price {
    background: inherit;
    position: absolute;
    top: -11px;
    right: -15px;
}

.film-about__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 28px; */
    text-align: center;
    color: #FFFFFF;

}

.imax-left {
    /* background-color: white; */
    position: absolute;
    top: 4px;
    left: 0;
}   

.rectangle2 {
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 4px;
    left: 4px;
    background-image: url('images/rectangle.png');
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #0E0E0E;
    /* background-color: yellow; */
}

/* Hot price ends */


/* Soon films */

.soon-films {
    background-color: black;
    padding: 72px 0;
}


.resale {
    display: inline;
    padding: 4px 8px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #0E0E0E;
    background: #FFD362;
    border-radius: 3px 0px 0px 3px;
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 100;
}

.date-to-start {
    display: inline;
    padding: 4px 8px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    /* line-height: 18px; */
    color: #FFFFFF;
    background: #C31D28;
    border-radius: 3px 0px 0px 3px;
    position: absolute;
    bottom: 3px;
    right: 0;
    z-index: 100;
}

/* Soon films ens */



/* Theater */

.theater {
    background-color: black;
    padding: 36px 0;
}

.advertising {
    display: inline;
    padding: 2px 12px;
    font-family: var(--main-font);
    font-style: normal;
    /* font-weight: bold; */
    font-size: 13px;
    /* line-height: 18px; */
    color: #FFFFFF;
    border-radius: 3px;
    background: #0E0E0E;
    opacity: 0.8;
    border-radius: 22px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.advertising-img .film-img{
    border: 2px solid #FFD362;
    border-radius: 3px;
}

.advertising-text {
    padding: 14px 8px;
    margin: 0 2px 2px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    background: #0E0E0E;
    opacity: 0.8;
    /* border: 2px solid #FFD362; */
    border-top: none;
    border-radius: 0px 0px 3px 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}




/* News */

.news-section {
    background-color: black;
    padding: 36px 0 160px;
}


.news-row {
    display: flex;
    justify-content: space-between;
}

.news-info {
    width: 304px;
    position: relative;
    border-radius: 3px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    color: #4E4E4E;
}
.news-info__img img {
    width: 100%;
}

.news-info__wrapper {
    position: absolute;
    padding: 16px;
    background: rgba(255, 255, 255, 0.95);
    bottom: 0;
    left: 0;
}
.news-info__date {
    margin-bottom: 8px;
}
.news-info__title {
    font-weight: bold;
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 8px;
}

.news-info__text {
    margin-bottom: 0;
    max-height: 44px;
    max-width: 272px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* News ends */
